
@{
    ViewData["Title"] = "Ajouter un statut ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProjetLaVictoireDesServices.Models.Statut

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ajouter un statut </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="breadcrumb-item active"><a href="#"></a>Ajouter un statut </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                @if (ViewBag.msg != null)
                {
                    if (ViewBag.msg == "Done")
                    {
                        <div class="callout callout-success">
                            <h5>Successful</h5>
                        </div>

                    }
                    else
                    {
                        <div class="callout callout-danger">
                            <h5>Failed</h5>
                        </div>
                    }
                }

                <div class="card card-primary">

                    <form asp-controller="statut" asp-action="ajouter" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Nom</label>
                                <input type="text" class="form-control" id="username" required="required"
                                       asp-for="Nom">
                            </div>

                            <div class="form-group">
                                <label>Couleur</label>
                                <select class="form-control" asp-for="Couleur">
                                    <option value="success">Success</option>
                                    <option value="warning">Warning</option>
                                    <option value="danger">Danger</option>
                                    <option value="info">Info</option>
                                </select>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" asp-for="Display">
                                <label class="form-check-label" for="exampleCheck1">Statut</label>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>